* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    height: 80vh;
    width: 100%;
    color: rgb(240, 242, 255);
    background-color: rgb(29, 29, 29);
   
    
}

.header {
    background-image: url("el.png");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.header *{
    display: inline;
}

.header .text{
    position: absolute;
    z-index: 95;
    margin: auto;
    margin-left: 6%;
    margin-right: 6%;
    right: 0;
    left: 0;
    bottom: 25%;
    text-align: left;
    color: rgb(238, 241, 255);
    font-size: 20px;
    z-index: 2;
}

.pagelink{
    margin-top: 0vh;
    top: 0%;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    color:rgb(224, 229, 255);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 20px;
    padding-left: 3%;
    padding-right: 3%;
    width: 20%;
    position: sticky;
    
    z-index: 99;
   
}

.pagelink:hover {
    background-color: rgba(28, 28, 43, 0.664);
    transition: 0.5s ease;
}



.pagecontent{
    color: rgb(236, 244, 255);
    text-align: start;
    margin-left: 6%;
    margin-right: 6%;
    float: left;
}

#About {background-color:rgb(29, 29, 29);}
#Us {background-color: rgb(29, 29, 29);}
#Merch {background-color: rgb(29, 29, 29);}
#Events {background-color: rgb(29, 29, 29);}
#Gallery {background-color: rgb(29, 29, 29);}


.nakotne{
    background-image: url("xmas.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
}


footer{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: 100%;
    background-color: rgb(29, 29, 29);
    color: rgb(106, 110, 136);
}